p {
  overflow-wrap: break-word;
}

p > code {
  overflow-wrap: break-word;
}

li > code {
  overflow-wrap: break-word;
}

img {
  max-width: 100%;
  border-radius: .25rem;
}

hr {
  opacity: .1;
}

a {
  color: rgb(156 163 175);
}

s {
  color: rgb(156 163 175);
  text-decoration-color:rgb(190 190 190);
  text-decoration-thickness: 1px;
}

pre {
  max-width: 100%;
  overflow-x: auto;
}

code.hljs {
  border-radius: .5rem;
}

p code, ul code, blockquote code {
  background: rgb(246 246 246);
  color: #ff502c;
  padding: .25rem .5rem;
  border-radius: .25rem;
  font-size: .9rem;
}

[data-theme="dark"] p code, [data-theme="dark"] ul code, [data-theme="dark"] blockquote code {
  background: rgb(17 24 39);
}

ul, ol {
  margin: 0;
  padding-left: 1.25rem;
  color: rgb(107 114 128);
}

ul.contains-task-list {
  list-style: none;
  padding-left: 0;
}

ul li, ol li {
  margin-bottom: .5rem;
}

ul li::marker, ol li::marker {
  color: rgb(190, 190, 190);
}

[data-theme="dark"] ul li::marker, [data-theme="dark"] ol li::marker {
  color: rgb(66, 63, 63);
}

nav ul li, footer ul li {
  list-style: none!important;
}

blockquote {
  border-left: 3px solid rgb(226, 226, 226);
  background: rgb(246 246 246);
  padding: .5rem 1rem;
  margin: 1rem 0;
  color: rgb(156 163 175);
}

[data-theme="dark"] blockquote {
  border-left: 3px solid rgb(80, 79, 79);
  background: rgb(36, 35, 35);
  color: rgb(114, 120, 131);
}

div.table-container {
  max-width: 100%;
  overflow-x: auto;
}

table {
  box-sizing: border-box;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th, table td {
  padding: .2rem .4rem;
  border: 1px solid rgb(242, 242, 242) !important;
}

[data-theme="dark"] table th, table td {
  border: 1px solid rgb(44, 43, 43);
}

table th {
  background: rgb(246 246 246);
  padding: .4rem;
}

[data-theme="dark"] table th {
  background: rgb(31, 30, 30);
}

.about-page svg.icon {
  width: 1.2em;
  height: 1.2em;
  vertical-align: -.2em;
  filter: grayscale(1);
}
.about-page li svg {
  width: 1.4em;
  height: 1.4em;
  vertical-align: -.4em;
}

.about-page, .markdown-body {
  --link-prev-color: rgb(209 213 219);
}

[data-theme="dark"] .about-page, [data-theme="dark"] .markdown-body {
  --link-prev-color: rgb(55 65 81);
}

.about-page ul a::before, .about-page p a::before, .markdown-body p a::before {
  font-family: "Font Awesome 6 Free";
  content: "\f0c1";
  margin-right: calc(1rem * 0.25);
  color: var(--link-prev-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  line-height: 1;
  text-rendering: auto;
}

.about-page ul a:hover::before, .about-page p a:hover::before, .markdown-body p a:hover::before {
  color: var(--primary);
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97);
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  --left: 16px;
  position: relative;
  left: calc(var(--left) * -1);
  padding-left: var(--left);
}

.markdown-body h2 a.markdownIt-Anchor,
.markdown-body h3 a.markdownIt-Anchor,
.markdown-body h4 a.markdownIt-Anchor,
.markdown-body h5 a.markdownIt-Anchor,
.markdown-body h6 a.markdownIt-Anchor {
  color: #ddd;
  position: absolute;
  display: none;
  left: 0;
}

[data-theme="dark"] .markdown-body h2 a.markdownIt-Anchor,
[data-theme="dark"] .markdown-body h3 a.markdownIt-Anchor,
[data-theme="dark"] .markdown-body h4 a.markdownIt-Anchor,
[data-theme="dark"] .markdown-body h5 a.markdownIt-Anchor,
[data-theme="dark"] .markdown-body h6 a.markdownIt-Anchor {
  color: #555;
}

.markdown-body h2:hover a.markdownIt-Anchor ,
.markdown-body h3:hover a.markdownIt-Anchor ,
.markdown-body h4:hover a.markdownIt-Anchor ,
.markdown-body h5:hover a.markdownIt-Anchor ,
.markdown-body h6:hover a.markdownIt-Anchor {
  display: inline-block;
}

#toc-wrapper {
  --top: 10rem;
  position: fixed;
  top: var(--top);
  left: calc(50vw + 650px / 2  + 4rem);
  padding-right: 1rem;
  color: #888;
  font-size: 0.8rem;
  max-height: calc(100vh - var(--top) * 1.5);
  overflow-y: auto;
  background: var(--body-bg);
  border-left: 1px solid rgb(226 226 226);
  -webkit-mask: linear-gradient(to bottom, black 95%, rgba(0, 0, 0, .3) 100%);
  mask: linear-gradient(to bottom, black 95%, rgba(0, 0, 0, .3) 100%);
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 930px) {
  #toc-wrapper {
    left: calc(50vw + 650px / 2  + 1rem);
  }
}

@media screen and (max-width: 820px) {
  #toc-wrapper {
    display: none;
  }
}

[data-theme="dark"] #toc-wrapper {
  border-left: 1px solid rgb(76, 76, 76);
}

#toc-wrapper .markdownIt-TOC {
  margin-left: 0;
  padding-left: 0;
}

#toc-wrapper li:last-of-type {
  margin-bottom: 0;
}

#toc-wrapper li > a + ul {
  margin-top: .5rem;
}

h1 svg {
  height: 100%;
}
