@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);

/* Base Styles */
:root {
  font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --body-bg: #fefefe;
  --color: #121212;
  --primary: #e96a16;
}

:root[data-theme=dark] body {
  --body-bg: #121212;
  --color: rgb(229 231 235);
  --primary: #F3CE49;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--body-bg);
  color: var(--color);
  overflow-x: hidden;
}

#app {
  margin: 0 auto;
  padding: 0 1rem;
  min-height: 100vh;
  overflow: hidden;
}

@media screen and (min-width: 750px) {
  html {
    font-size: clamp(16px, 1vw, 60px);
  }

  #app {
    max-width: 50rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

/* a.router-link-active:not(.search-btn) {
  position: relative;
}

a.router-link-active:not(.search-btn)::after {
  content: "";
  position: absolute;
  bottom: 0.05em;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary);
} */

/**
  Animated Theme Toggle
*/
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

[data-theme="dark"]::view-transition-old(root) {
  z-index: 1;
}

[data-theme="dark"]::view-transition-new(root) {
  z-index: 999;
}

::view-transition-old(root) {
  z-index: 999;
}

::view-transition-new(root) {
  z-index: 1;
}

/* Animations */
@keyframes slideInBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
